body {
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
}
.box {
  border: 2px solid black;
  padding: 50px;
}

.rectangle-1 {
  background-color: blue;
}

.rectangle-2 {
  background-color: yellow;
}

.rectangle-3 {
  background-color: green;
}

.rectangle-4 {
  background-color: pink;
}
