body {
 margin: 50px;
}

.box {
  border: 2px solid black;
  padding: 50px;
  box-sizing: border-box;
 
}

.rectangle-1 {
  height: 400px;
  background-color: blue;
}

.rectangle-2 {
  height: 300px;
  background-color: yellow;
}

.rectangle-3 {
  height: 200px;
  background-color: green;
}

.rectangle-4 {
  height: 100px;
  background-color: pink;
}
