body {
  margin: 50px;
}
.box {
  border: 2px solid black;
  padding: 50px;
  box-sizing: border-box;
}

.rectangle-1 {
  background-color: blue;
}

.rectangle-2 {
  background-color: yellow;
}

.rectangle-3 {
  background-color: green;
}

.rectangle-4 {
  background-color: pink;
}
