

input[type="checkbox"] {
   visibility: hidden;
   width: 0;
   height: 0;
}

.checkmark {
   width: 25px;
   height: 25px;
   background-color: #d3d3d3;
   position: absolute;
   left: 0;
   top: 0;
}

.checkbox {
   display: block;
   margin: 16px;
   padding-left: 35px;
   font-size: 24px;
   position: relative;
   cursor: pointer;
}

.checkbox input:checked + .checkmark {
   background-color: #006400;
}