.price-card {
  width: 380px;
  height: 770px;
  background-color: $fon-color-price-card;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);

  &__title {
    display: flex;
    flex-direction: column;

    &_head {
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
      text-align: center;
      color: $text-color-white;
      margin-bottom: 0;
      margin-top: 30px;
    }

    &_subtitle {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: $text-color-white;
      margin-top: 0;
      margin-bottom: 36px;
    }
  }

  &__price {
    width: 380px;
    height: 104px;
    background-color: $basic-price-color;

    &_item {
      margin: 0;
      height: 104px;
      font-weight: 700;
      font-size: 55px;
      line-height: 104px;
      text-align: center;
      color: $text-color-white;
    }
  }

  &__description {
    margin: 39px 26px 42px 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $text-color-white;
  }

  &__options-list {
    height: 300px;

    .list {
      height: 50px;
      line-height: 50px;

      &:nth-child(odd) {
        background-color: $fon-color-dark-list;
      }

      &__image {
        width: 15px;
        height: 13px;
        margin-left: 22px;
        margin-right: 18px;
      }

      &__text {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: $text-color-white;
      }
    }
  }

  &__order-btn {
    margin: 37px 113px 42px 112px;
    width: 155px;
    height: 40px;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: $text-color-white;
    background-color: $basic-price-color;
    border: none;
    border-radius: 20px;
  }
}