@import "variables.scss";
@import "basic.scss";
@import "business.scss";
@import "webshop.scss";


* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;;
}

.price-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $fon-tables;
}