$fon-tables: #000;

$fon-color-price-card: #334247;
$fon-color-dark-list: #2A3438;
$basic-price-color: #5BB189;
$business-price-color: #3A6BA5;
$webshop-price-color: #EC632A;


$text-color-white: #FFFFFF;
$fon-color-badge: #DC3F45;