* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.spinner {
    position: relative;
}

.circle {
    margin: auto;
    height: 50px;
    width: 50px;
    border: 4px solid lightgrey;
    border-top: 4px solid black;
    border-radius: 50%;
    margin-bottom: 8px;
    animation: spin 2s infinite linear;
}

.spinner-text {
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite linear;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}