
.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  
}

.image-button {
  text-align: center;
  line-height: 50px;
  width: 200px;
  height: 50px;
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.image-button:hover {
  opacity: 1;
  cursor: pointer;
  
}
