.image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.image-button {
  line-height: 50px;
  width: 200px;
  height: 50px;
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
}

.image-button:hover {
  opacity: 1;
  cursor: pointer;
}
