div {
  display: block;
}

.image-container {
  position: relative;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.image-button {
  text-align: center;
  display: inline-block;

  line-height: 50px;
  width: 200px;
  height: 50px;
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  position: fixed;
  top: 11.5em;
  left: 71.5em;
  z-index: 1;
}

.image-button:hover {
  opacity: 1;
  cursor: pointer;
}
