.container {
    display: flex;
    justify-content: center;
  
}


.spinner {
    margin-top: 50vh;
}

.spinner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: moving 2s, blinking 2s infinite;
}

.rect {
    display: flex;
    margin: auto;
    background-color: black;
    width: 10px;
    height: 4px;
    border-radius: 2px;
    animation: moving 2s,blinking 2s infinite;
}


@keyframes moving {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 70px;
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
