.container {
    display: flex;
    justify-content: center;
  
}


.spinner {
    margin-top: 50vh;
}

.spinner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: blinking 2s infinite;
    transition-timing-function: linear;
}

.rect {
    display: flex;
    background-color: black;
    width: 10px;
    height: 4px;
    border-radius: 2px;
    position: relative;
    animation: blinking 2s infinite, moving 2s infinite;
    animation-direction: alternate;
}


@keyframes moving {
    from {
        left: 0;
        
    }
    to {
        left: 70px;
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
