body {
  box-sizing: border-box;
}

.dropdown .menu-button {
  padding: 16px;
  background-color: darkgreen;
  cursor: pointer;
  opacity: 0.8;
}

.dropdown:hover .menu-button {
  opacity: 1;
  font-size: 16px;
  color: white;
}

.dropdown {
  margin: 16px;
  position: relative;
  top: 16px;
}

.menu-list {
  margin: 0;
  padding: 0;

  color: black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  position: absolute;
  top: 33px;
  z-index: 1;
  display: none;
}

.menu-item {
  padding: 16px;
  list-style-type: none;
}

.dropdown:hover .menu-list {
  background-color: lightcyan;
  display: block;
}
