* {
  margin: 50px;
  box-sizing: border-box;
}

.rectangle {
  width: 100px;
  height: 50px;
  border-radius: 16px;
  background-color: forestgreen;
}

.oval {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  background-color: darkmagenta;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border-radius: 50%;
}

.triangle {
  width: 100px;
  height: 100px;
  border: 50px solid transparent;
  border-top-color: brown;
}
