* {
  box-sizing: border-box;
}

span {
  color: white;
  margin: 16px;
  display: inline-block;
  background-color: gray;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  top: 25px;
  left: 0px;
}

body {
  position: relative;
}

.hover {
  margin: 16px;
  border-bottom: 1px dotted black;
  display: inline-block;
}
