* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-table {
    overflow-x: auto;
}

table {
    width: 500px;
    margin: 16px;
}

caption {
    margin-bottom: 8px;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    height: 40px;
    padding: 4px;
    text-align: right;
    
}

th {
    background-color: aqua;
}

tfoot {
    font-weight: 700;
}

tbody>tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody>tr:hover {
    background-color: #aaa;
    color: #fff;
}