
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.container{
  margin: 32px;
  
}

.header {
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
}

p {
  line-height: 28px;
}

.technology {
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 80%;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.translation {
  color: gray;
}
