* {
  background-color: antiquewhite;
}

.box {
<<<<<<< HEAD
=======
  box-sizing: content-box;
>>>>>>> c79790750a5e191b8256eabab78c17df4bf81008
  border: 8px solid black;
  margin: 16px;
  padding: 16px;
  width: 512px;
  height: 128px;
}

.box1 {
  background-color: aquamarine;
<<<<<<< HEAD
  box-sizing: content-box;
=======
>>>>>>> c79790750a5e191b8256eabab78c17df4bf81008
}

.box2 {
  background-color: azure;
<<<<<<< HEAD
  box-sizing: border-box;
=======
>>>>>>> c79790750a5e191b8256eabab78c17df4bf81008
}
