html {
   font-family: monospace;
}

* {
   box-sizing: border-box;
   background-color: bisque;
}

.page {
   width: 100%;
   height: 100%;
   display: flex;
   position: relative;
}

.login-form {
   background-color: aqua;
   font-size: 16px;
   width: 300px;
   padding: 16px;
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
   margin: auto;
   position: absolute;
   left: calc(50% - 150px);
   top: calc(50% - -150px);
}

h1.form-title {
   text-align: center;
   text-transform: uppercase;
   background-color: aqua;
}

.form-control {
   margin-bottom: 8px;
   background-color: aqua;
}

.form-label {
   margin-bottom: 4px;
   display: flex;
   background-color: aqua;
}

.form-input {
   width: 100%;
   height: 32px;
   border-radius: 4px;
   border: 1px solid #808080;
   padding: 4px;
   outline: none;
   background-color: white;
}

.submit-button {
   width: 100%;
   height: 32px;
   background-color: #ff7f50;
   margin-top: 16px;
   text-transform: uppercase;
   color: white;
   border-radius: 4px;
   padding: 0;
}


#password:hover  {
   border: 3px solid #ff0000;
}

#email:hover {
   border: 3px solid #ff0000;
}