* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #555;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    
}

h1 {
    background-image: linear-gradient(60deg, red, orange);
    margin: auto;
    color: #fff;
    display: flex;
    width: 100vw;
    text-align: center;
    justify-content: center;
    line-height: 10vh;
}

.main {
    display: flex;
    flex-grow: 1;
}

.navigation {
    padding: 0.5em;
    width: 20%;
}

.nav-list {
    padding: 0;
}

.nav-list-item {
    display: flex;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    background-color: #808080;
    margin-bottom: 0.5em;
    height: 2em;
}

.nav-list-link {
    padding-left: 0.5em;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.section {
    padding: 0.5em;
    width: 80%;
    font-size: 1.25em;
    line-height: 1.75em;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125rem;
    font-weight: 700;
}

.news {
    padding: 0.5em;
    width: 20%;
}

footer {
    display: flex;
    background-color: #e5e5e5;
    padding: 0.5em;
}

.footer {
    display: flex;
    justify-content: center;
}