body {
    
    box-sizing: border-box;
}

.header {
    margin: 0;
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.footer {
    height: 40px;
    background-color: green;
    display: flex;
}

.navigation {
    margin: 0;
    display: flex;
    list-style-type: none;
}

.navigation__item {
    margin-right: 10px;
}

.footer__text {
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    display: flex;
}

.dashboard {
    display: flex;
    flex-grow: 1;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

.news {
    width: 200px;
    background-color: gray;
    
}

aside h2 {
    text-align: center;
}

.news__list .news__item {
    display: flex;
    line-height: 40px;
}